body {
	text-align: center;
  background: #fff1f0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 50px;
}

.center {
}

.left {

}

.right {

}

.circle {
	width: 500px; 
	height: 500px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.info{
	height: 60%;
	width: 50%;
	background: #ffd;
	margin-left: auto;
	margin-right: auto;
}

.description{
	width: 500px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
	border-radius: 15px;
	background: #fff;
	box-sizing: border-box;
	padding-top: 12px;
}

.title {
	font-size: 24px;
	font-family: "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 500;
	color: #9c9c9c;
}

.phrase{
	color: #9c9c9c;
	font-family: "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 20px;
}

.storage{
	text-align: left;
	display: flex;
	align-items: flex-start;
	color: #a6a6a6;
	font-family: "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 16px;
	padding-left: 30px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.input-num{
	margin-top: 220px;
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 18px;
}

.input-name{
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 18px;
}

.submit-btn{
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background: #fff;
	color: #757575;
	border: 1px solid #757575;
	border-radius: 2px;
	font-size: 18px;
}

.buttons{
	margin-top: 25px;
	width: 500px;
	display: flex;
	justify-content: space-evenly;
}

.btn {
	width: 210px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	height: 50px;
	border-radius: 8px;
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: #757575;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 400;
}

.announcement{
	width: 500px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
	border-radius: 15px;
	background: #fff;
	box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.hint {
	font-size: 10px;
	color: #ffffde;
}

.info-page > .title {
	color: red;
}

.client-table {
	max-width: 500px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
	border-radius: 15px;
	background: #fff;
	box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	overflow: scroll;
	max-height: 500px;
}

.table-caption {
	font-size: 24px;
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 500;
	color: #9c9c9c;
}

thead th {
	font-family:  "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

tbody th {
	color: #9c9c9c;
	font-family: "Ubuntu", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 20px;
	font-weight: 400;
	overflow: hidden;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 26%;
}

thead th:nth-child(3) {
  width: 22%;
}

thead th:nth-child(4) {
  width: 22%;
}

th, td {
  padding: 10px;
}

@media only screen and (max-width: 560px) {
	body {
		padding-top: auto;
		padding-bottom: auto;
	}

	.circle {
		height: 300px;
		width: 300px;
	}

	.description {
		width: 300px;
		margin-top: 35px;
	}

	.buttons {
		width: 300px;
	}

	.announcement {
		width: 300px;
		margin-top: 35px;
	}

	.client-table {
		width: 300px;
	}

	.btn {
		width: 120px;
		font-size: 15px;
	}

	.table {
		padding-top: 7px;
	}

	.input-num {
		margin-top: 125px;
		width: 200px;
		font-size: 16px;
	}

	.input-name {
		width: 200px;
		font-size: 16px;
	}

	.submit-btn{
		font-size: 16px;
	}

	thead th {
		font-size: 12px;
	}	

	th, td {
  	padding: 5px;
	}

	.storage {
		font-size: 15px;
	}

}




@media only screen and (max-height: 900px){
	body {
		padding-top: 150px;
	}
}

@media only screen and (max-height: 800px){
	body {
		padding-top: 90px;
	}
}

@media only screen and (max-height: 700px){
	body {
		padding-top: 50px;
	}
}





